/* line 61, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.71429em;
}

/* line 10, ../../_sass/main.sass */
.github-fork-ribbon {
  background-color: #31333b;
}

/* line 13, ../../_sass/main.sass */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Lora", serif;
  font-size: 1.14286em;
  line-height: 1.5em;
  color: #31333b;
}

/* line 20, ../../_sass/main.sass */
img.screenshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 25, ../../_sass/main.sass */
h1 {
  display: none;
}

/* line 28, ../../_sass/main.sass */
h1, h2, h3, .media-heading, li strong, a.btn {
  font-family: "Ubuntu Condensed", sans-serif;
}

/* line 31, ../../_sass/main.sass */
h1 {
  font-size: 3.14286em;
  line-height: 1.09091em;
}

/* line 34, ../../_sass/main.sass */
h2 {
  font-size: 2.28571em;
  line-height: 1.5em;
}

/* line 37, ../../_sass/main.sass */
h3 {
  font-size: 1.57143em;
  line-height: 2.18182em;
}

@media (max-width: 768px) {
  /* line 41, ../../_sass/main.sass */
  .intro {
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  /* line 45, ../../_sass/main.sass */
  .container {
    max-width: 730px;
  }

  /* line 47, ../../_sass/main.sass */
  .intro {
    margin-left: 20px;
  }
}
/* line 50, ../../_sass/main.sass */
.media-heading {
  font-size: 28px;
  padding-bottom: 18px;
}

/* line 54, ../../_sass/main.sass */
.giants {
  text-align: center;
}
/* line 56, ../../_sass/main.sass */
.giants img {
  padding: 30px 40px;
}

/* line 59, ../../_sass/main.sass */
.tab-content {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  border-radius: 0 0 4px 4px;
}

/* line 66, ../../_sass/main.sass */
.nav-tabs {
  margin-bottom: -1px;
}

/* line 69, ../../_sass/main.sass */
footer {
  color: #777777;
  text-align: center;
}
/* line 72, ../../_sass/main.sass */
footer .container {
  margin-left: auto;
  margin-right: auto;
}
/* line 75, ../../_sass/main.sass */
footer .container .social {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 78, ../../_sass/main.sass */
footer .container .social ul.social-buttons {
  display: inline-block;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none outside none;
}
/* line 83, ../../_sass/main.sass */
footer .container .social ul.social-buttons li {
  display: inline-block;
}

/* line 86, ../../_sass/main.sass */
.socialcontainer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 91, ../../_sass/main.sass */
.socialcontainer .social ul.social-buttons {
  display: inline-block;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none outside none;
}
/* line 96, ../../_sass/main.sass */
.socialcontainer .social ul.social-buttons li {
  display: inline-block;
}

/* line 99, ../../_sass/main.sass */
p {
  text-align: justify;
}

/* line 102, ../../_sass/main.sass */
p > code {
  font-family: "Ubuntu Mono";
  background-color: #dddddd;
  font-size: 0.92857em;
  line-height: 1.84615em;
  padding: 0.15em;
  -webkit-border-radius: 0.25em 0.25em;
  -moz-border-radius: 0.25em / 0.25em;
  border-radius: 0.25em / 0.25em;
  border: none;
}

/* line 112, ../../_sass/main.sass */
.highlight {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
}
/* line 120, ../../_sass/main.sass */
.highlight pre {
  font-family: "Ubuntu Mono";
  font-size: 1em;
  line-height: 1.71429em;
  -webkit-border-radius: 0.5em 0.5em;
  -moz-border-radius: 0.5em / 0.5em;
  border-radius: 0.5em / 0.5em;
  border: none;
}

/* line 127, ../../_sass/main.sass */
.pygments, p > code, .highlight pre {
  background: #31333b;
  color: #f8f8f2;
}
/* line 128, ../../_sass/main.sass */
.pygments .hll, p > code .hll, .highlight pre .hll {
  background-color: #49483e;
}
/* line 132, ../../_sass/main.sass */
.pygments .c, p > code .c, .highlight pre .c {
  color: #75715e;
}
/* line 134, ../../_sass/main.sass */
.pygments .err, p > code .err, .highlight pre .err {
  color: #960050;
  background-color: #1e0010;
}
/* line 137, ../../_sass/main.sass */
.pygments .k, p > code .k, .highlight pre .k {
  color: #66d9ef;
}
/* line 139, ../../_sass/main.sass */
.pygments .l, p > code .l, .highlight pre .l {
  color: #ae81ff;
}
/* line 141, ../../_sass/main.sass */
.pygments .n, p > code .n, .highlight pre .n {
  color: #f8f8f2;
}
/* line 143, ../../_sass/main.sass */
.pygments .o, p > code .o, .highlight pre .o {
  color: #f92672;
}
/* line 145, ../../_sass/main.sass */
.pygments .p, p > code .p, .highlight pre .p {
  color: #f8f8f2;
}
/* line 147, ../../_sass/main.sass */
.pygments .cm, p > code .cm, .highlight pre .cm, .pygments .cp, p > code .cp, .highlight pre .cp, .pygments .c1, p > code .c1, .highlight pre .c1, .pygments .cs, p > code .cs, .highlight pre .cs {
  color: #75715e;
}
/* line 149, ../../_sass/main.sass */
.pygments .ge, p > code .ge, .highlight pre .ge {
  font-style: italic;
}
/* line 151, ../../_sass/main.sass */
.pygments .gs, p > code .gs, .highlight pre .gs {
  font-weight: bold;
}
/* line 153, ../../_sass/main.sass */
.pygments .kc, p > code .kc, .highlight pre .kc, .pygments .kd, p > code .kd, .highlight pre .kd {
  color: #66d9ef;
}
/* line 155, ../../_sass/main.sass */
.pygments .kn, p > code .kn, .highlight pre .kn {
  color: #f92672;
}
/* line 157, ../../_sass/main.sass */
.pygments .kp, p > code .kp, .highlight pre .kp, .pygments .kr, p > code .kr, .highlight pre .kr, .pygments .kt, p > code .kt, .highlight pre .kt {
  color: #66d9ef;
}
/* line 159, ../../_sass/main.sass */
.pygments .ld, p > code .ld, .highlight pre .ld {
  color: #e6db74;
}
/* line 161, ../../_sass/main.sass */
.pygments .m, p > code .m, .highlight pre .m {
  color: #ae81ff;
}
/* line 163, ../../_sass/main.sass */
.pygments .s, p > code .s, .highlight pre .s {
  color: #e6db74;
}
/* line 165, ../../_sass/main.sass */
.pygments .na, p > code .na, .highlight pre .na {
  color: #a6e22e;
}
/* line 167, ../../_sass/main.sass */
.pygments .nb, p > code .nb, .highlight pre .nb {
  color: #f8f8f2;
}
/* line 169, ../../_sass/main.sass */
.pygments .nc, p > code .nc, .highlight pre .nc {
  color: #a6e22e;
}
/* line 171, ../../_sass/main.sass */
.pygments .no, p > code .no, .highlight pre .no {
  color: #66d9ef;
}
/* line 173, ../../_sass/main.sass */
.pygments .nd, p > code .nd, .highlight pre .nd {
  color: #a6e22e;
}
/* line 175, ../../_sass/main.sass */
.pygments .ni, p > code .ni, .highlight pre .ni {
  color: #f8f8f2;
}
/* line 177, ../../_sass/main.sass */
.pygments .ne, p > code .ne, .highlight pre .ne, .pygments .nf, p > code .nf, .highlight pre .nf {
  color: #a6e22e;
}
/* line 179, ../../_sass/main.sass */
.pygments .nl, p > code .nl, .highlight pre .nl, .pygments .nn, p > code .nn, .highlight pre .nn {
  color: #f8f8f2;
}
/* line 181, ../../_sass/main.sass */
.pygments .nx, p > code .nx, .highlight pre .nx {
  color: #a6e22e;
}
/* line 183, ../../_sass/main.sass */
.pygments .py, p > code .py, .highlight pre .py {
  color: #f8f8f2;
}
/* line 185, ../../_sass/main.sass */
.pygments .nt, p > code .nt, .highlight pre .nt {
  color: #f92672;
}
/* line 187, ../../_sass/main.sass */
.pygments .nv, p > code .nv, .highlight pre .nv {
  color: #f8f8f2;
}
/* line 189, ../../_sass/main.sass */
.pygments .ow, p > code .ow, .highlight pre .ow {
  color: #f92672;
}
/* line 191, ../../_sass/main.sass */
.pygments .w, p > code .w, .highlight pre .w {
  color: #f8f8f2;
}
/* line 193, ../../_sass/main.sass */
.pygments .mf, p > code .mf, .highlight pre .mf, .pygments .mh, p > code .mh, .highlight pre .mh, .pygments .mi, p > code .mi, .highlight pre .mi, .pygments .mo, p > code .mo, .highlight pre .mo {
  color: #ae81ff;
}
/* line 195, ../../_sass/main.sass */
.pygments .sb, p > code .sb, .highlight pre .sb, .pygments .sc, p > code .sc, .highlight pre .sc, .pygments .sd, p > code .sd, .highlight pre .sd, .pygments .s2, p > code .s2, .highlight pre .s2 {
  color: #e6db74;
}
/* line 197, ../../_sass/main.sass */
.pygments .se, p > code .se, .highlight pre .se {
  color: #ae81ff;
}
/* line 199, ../../_sass/main.sass */
.pygments .sh, p > code .sh, .highlight pre .sh, .pygments .si, p > code .si, .highlight pre .si, .pygments .sx, p > code .sx, .highlight pre .sx, .pygments .sr, p > code .sr, .highlight pre .sr, .pygments .s1, p > code .s1, .highlight pre .s1, .pygments .ss, p > code .ss, .highlight pre .ss {
  color: #e6db74;
}
/* line 201, ../../_sass/main.sass */
.pygments .bp, p > code .bp, .highlight pre .bp, .pygments .vc, p > code .vc, .highlight pre .vc, .pygments .vg, p > code .vg, .highlight pre .vg, .pygments .vi, p > code .vi, .highlight pre .vi {
  color: #f8f8f2;
}
/* line 203, ../../_sass/main.sass */
.pygments .il, p > code .il, .highlight pre .il {
  color: #ae81ff;
}
